<!DOCTYPE html>
<html>
  <head>
    <title>Uploader.js</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/Uploader.css'>
  </head>
  <body>
    <h1>Uploader.js</h1>

	<input type="file" name="file" id="Uploader" />

	<script type="text/javascript" src="js/Uploader.js"></script>
	<script type="text/javascript">
		
		window.onload = function() {
			Uploader("#Uploader", {
				"uploadUrl": "/upload/iframe",
				"type": "iframe",
				"onSuccess": function(res) {
					console.log(res);
				},
				"onError": function(ex) {
					console.log(ex);
				}
			});
		};

	</script>
  </body>
</html>
